---
import questions from "../data/ccse_questions.json";
import type { Question as TypeQuestion } from "../types";
import { Question } from "./Question";
---

<div id="container">
  <main>
    <section id="questions">
      {
        (questions as TypeQuestion[]).map((question) => (
          <Question client:only question={question} />
        ))
      }
    </section>
  </main>
</div>

<style>
  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    height: 100%;
    padding: 1rem;
  }
  #questions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  main {
    height: 100%;
  }
</style>
